@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

.logo-icon {
  width: 100px;
  // font-family: Satisfy;
  // font-size: 3em;
  // size: 155px;
  // margin-right: 24px;
}

.nav-item {
  // color: black;
  color: #c83621;
  font-family: Satisfy;
  // font-size: 2em;
  size: 100px;
  margin-right: 24px;
}