@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

body {
  // background-image: url("https://images.unsplash.com/photo-1590246578723-cda485c7ae72?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  background-image: url("https://images.unsplash.com/photo-1542328689-df6c076c1604?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
  
  background-color: whitesmoke;
  color: #c83621;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  // color: #c83621;
  color:#d32129;
  // color: black;
  font-family: Satisfy;
  font-size: 3em;
  // size: 155px;
  margin-right: 24px;

}

h1 {
  text-align: center;
  color:#d32129;
  // color: #c83621;
  // color: black;
  font-family: Satisfy;
  font-size: 4em;
}
.front-end {
  padding:25px;
  margin-right: 40px;
  border-radius: 20px;
  width: 175px;

}